<div class="container">
  <div class="row row-header">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <button id="clear-completed" class="btn btn-default" role="button" {{action "resetMapLocation"}}>
        Reset Map
      </button>
      <button id="clear-completed" class="btn btn-default" role="button" {{action "resetMapLocation"}}>
        Share
      </button>
      <button id="clear-completed" class="btn btn-default" role="button" {{action "resetMapLocation"}}>
        Print
      </button>
      <button id="clear-completed" class="btn btn-default" role="button" {{action "resetMapLocation"}}>
        New
      </button>
      <button id="clear-completed" class="btn btn-default" role="button" {{action "resetMapLocation"}}>
        Edit
      </button>
      <button id="clear-completed" class="btn btn-default" role="button" {{action "resetMapLocation"}}>
        Delete
      </button>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-xs-2" id="left-landing-column">
    </div>
    <div class="col-xs-8">
      {{google-summary-map latitude="37.8282" longitude="-98.5795" markers=markers}}
    </div>
    <div class="col-xs-2" id="right-landing-column">
    </div>
  </div>
  <div class="row row-footer">
    {{vacation-carousel}}
  </div>
</div>
